{
  "presets": [
    [
      "@babel/preset-env",
      {
        "cacheDirectory": true,
        "useBuiltIns": "usage",
        "shippedProposals": true,
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}
